.landing-container {
    text-align:center;
    padding: 50px;
    background-image: url('../../Image/Perros.jpg'); /* Cambia la ruta según la ubicación de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
    background-position: center; /* Centra la imagen */
    color: #ecf0f1; /* Blanco humo */
    height: 83.9vh; /* Ocupa el 100% de la altura de la ventana */
    margin: 0; /* Elimina el margen del contenedor */
  }
  
  .landing-title {
    font-family: 'Pacifico', cursive; /* Fuente elegante */
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 30px;
    margin-top: 390px; /* Ajustamos el margen superior */

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Agregamos sombra al texto */

  }
  
  /* Estilo para resaltar el texto principal */
  .highlight-text {
    color: #e74c3c; /* Rojo alizarina */
    font-weight: bold;
    font-size: 38px;
  }
  
  /* Estilo para el contenedor principal cuando el mouse pasa por encima */
  .landing-container:hover {
    background-color: #3498db; /* Azul intenso */
    transition: background-color 0.5s ease;
  }